In [ ]:
# Given a users table, write a query to return only its duplicate rows.

In [ ]:
# Get Top N Frequent Words

In [8]:
from collections import Counter
def n_frequent_words(posting,N):
  words=Counter(posting.split()).most_common(n)
  return words

In [10]:
posting = """
Herbal sauna uses the healing properties of herbs in combination with distilled water.   
The water evaporates and distributes the effect of the herbs throughout the room.   
A visit to the herbal sauna can cause real miracles, especially for colds. 
"""  
n = 3

n_frequent_words(posting,3)

[('the', 5), ('sauna', 2), ('of', 2)]

In [ ]:
# Daily Logins

In [ ]:
SELECT USER_ID,COUNT(*)
from user_logins
where login_date="01-01-2022"
group by USER_ID
having count(*)=1

In [ ]:
# HR Salary Reporting

In [ ]:
select job_title,sum(salary),sum(overtime_rate),sum(overtime_hours) from employees
group by job_title

In [ ]:
# Customer Orders

In [ ]:
select * from transactions t
join users u
on t.id=u.id
where to_chart(create_at,'year') in (2019,2020)
group by id.
having count(*)>3

In [ ]:
# Avg Friend Requests By Age Group

In [ ]:
# Avg Friend Requests By Age Group

In [ ]:
# Avg Friend Requests By Age Group https://www.interviewquery.com/questions/avg-friend-requests-by-age-group

In [ ]:
        # SELECTive Wine Connoisseur

In [ ]:
SELECT id
from wines
where ash<2.4 and color_intensity<3

In [2]:
wines.filter(col("ash")>2.4) & (col("color_intensity")<3 &(col()))

In [ ]:
wines[(wines["ash"]>2.5)&(wines["color_intensity"]<3)]

In [ ]:
# Top 3 Users

In [ ]:
select * from(select rank() over(partition by user_id order by downloads)r from download_facts)
where r=3

In [ ]:
download_facts

In [ ]:
# Distance Traveled

In [ ]:
select distance,id from rides r
join users u on r.id=u.id
order by distance desc

In [ ]:
# Emails Opened

In [ ]:
select count(*) from events
WHERE action='email_opened'

In [ ]:
events.filter(col("actions")=="email_opened").agg(count(col("*")).alias("Counts")).select(col("counts")).show(https://www.interviewquery.com/questions/maximum-common-substring)

In [ ]:
# Decreasing Subsequent Values

In [17]:
def decreasing_values(arr):
     return sorted(arr,reverse=True)
arr = [20,17,19,18,12,16,10,4,6,3]
decreasing_values(arr)

[20, 19, 18, 17, 16, 12, 10, 6, 4, 3]

In [ ]:
# Fill None Values

In [16]:
def fill_none(input_list):
    last_valid = None
    result = []
    
    for item in input_list:
        if item is not None:
            last_valid = item
            result.append(item)
        else:
            # Replace None with the last valid value
            result.append(last_valid)
    
    return result
input_list = [1,2,None,None,4,5,None]
fill_none(input_list)

[1, 2, 2, 2, 4, 5, 5]

In [ ]:
https://www.interviewquery.com/questions/paired-products

In [ ]:
# released-patients

In [ ]:
select * from released_patients where release_date<(select release_date from releaed_patients where )

In [ ]:
# https://www.interviewquery.com/questions/generate-shopping-list-from-recipes

In [ ]:
# Last Transaction

In [ ]:
select customer_id,max(created_at),transaction_value from bank_transactions
group by customer_id,transaction_value

In [ ]:
bank_transactions.groupby(["customer_id","transaction_value"])["created_at"].max()

In [ ]:
bank_transactions.groupby("customer_id","transaction_values").agg(max(col('created+_at'))).select(col("customer_id"),col("transaction_values")).show()

In [ ]:
# Manager Team Sizes

In [ ]:
SELECT max(m.team),m.manager_id FROM employee e
join managers m on e.manager_id=m.id
group by m.manager_id

In [ ]:
df=managers.join(employee,on="manager_id",how="inner")
df.groupby("manager_id")["team"].max()

In [ ]:
managers.join("employee",on="manager_id",how="inner").groupby("manager_id").agg(max(col("team")).alias("max_team")).select(col("max_team"),col("manager_id")).show()

In [ ]:
# Last Page Number

In [15]:
def get_last_page(int_string):
    for ele in int_string:
        return ele[-1]
input = '12345'
get_last_page(input)

'1'

In [ ]:
# Employee Salaries

In [ ]:
select max(salary),name
from employee table
group by name

In [ ]:
employee.groupby('name')['salary'].max().reset_index()

In [ ]:
employee.groupby('salary').agg(max(col("salary")).alias("max_salary")).select(col("name"),col("salary")).show()

In [ ]:
# Find the Missing Number

In [14]:
def missing_number(nums):
   for i in range(5):
    if i not in nums:
      return i
nums = [0,1,2,4,5] 
missing_number(nums)

3

In [ ]:
# Find Bigrams

In [12]:
sentence = """
Have free hours and love children? 
Drive kids to school, soccer practice 
and other activities.
"""
def find_bigrams(sentence):
    bigrams = [(words[i], words[i + 1]) for i in range(len(sentence) - 1)]
    return bigrams
find_bigrams(sentence)

NameError: name 'words' is not defined

In [ ]:
# Largest Salary by Department

In [ ]:
SELECT max(salary),department
group by department
order by max(salary) desc
limit 1;

In [ ]:
department.groupby('department')['salary'].max().sort_values(ascending=False).head(1)

In [ ]:
department.groupby('department').agg(max(col('salary')).sort(desc("salary")).select(col("department"),col("salary")).limit(1).show()

In [ ]:
# Finding The Mode

In [4]:
import statistics as st
def mode (nums : list):
    return st.mode(list(nums))

nums = [1, 2, 2, 3, 4]
mode(list(nums))

2

In [ ]:
# Word Frequency

In [2]:
from collections import Counter
def word_frequency(sentences):
    sentences=str(sentences)
    words=Counter(sentences.split())
    return words

In [3]:
sentences = [
  "I love roses",
  "Roses are the best",
  "Roses are red violets are blue"
]
word_frequency(sentences)

Counter({'are': 3,
         "'Roses": 2,
         "['I": 1,
         'love': 1,
         "roses',": 1,
         'the': 1,
         "best',": 1,
         'red': 1,
         'violets': 1,
         "blue']": 1})

In [1]:
numbers = {
  'a':3,
  'b':4
}

In [21]:
dictionary = {"key1": 1, "key2": 1, "key3": 7, "key4": 3, "key5": 4, "key6": 7}

In [28]:
def find_unique(dictionary):
    a=[]
    for val in dictionary.values():
        for valuses in val:
            a.append(valuses)
    return a

In [29]:
find_unique(dictionary)

TypeError: 'int' object is not iterable

In [25]:
s={key:set(val) for key,val in dictionary.items()}
print(s)

TypeError: 'int' object is not iterable

In [18]:
def swap_values(numbers):
    res={}
    for key,val in numbers.items():
        return val[1],val[0]
    return res

In [19]:
swap_values(numbers)

TypeError: 'int' object is not subscriptable

In [17]:
full = [1, 2, 3, 4, 5]
missing = [1, 2, 3, 5]
a=[]
for i in full:
    if i not in missing:
        a.append(i)
return a

SyntaxError: 'return' outside function (3686195701.py, line 7)

In [16]:
print(a)

[4]

In [14]:
swap_values(numbers)

TypeError: 'int' object is not subscriptable

In [ ]:
# Flatten JSON

In [37]:
nums = [1, 7, 3, 5, 6]
def max_number(nums):
    return max(nums)

In [38]:
max_number(nums)

7

In [ ]:
# https://www.interviewquery.com/questions/500-cards
# https://www.interviewquery.com/questions/find-mismatched-words
# https://www.google.com/search?q=Processing+Large+CSV+pandas&sca_esv=c3cb3e39b600b48a&sca_upv=1&rlz=1C1GCEV_enUS1105US1107&sxsrf=ADLYWIJECdO3L-VNcwjSQmjetMUu4hYhBA%3A1727551026440&ei=Mlb4ZvDBGp-hiLMPvLG8oAE&ved=0ahUKEwjwooyKreaIAxWfEGIAHbwYDxQQ4dUDCA8&uact=5&oq=Processing+Large+CSV+pandas&gs_lp=Egxnd3Mtd2l6LXNlcnAiG1Byb2Nlc3NpbmcgTGFyZ2UgQ1NWIHBhbmRhczIFECEYoAEyBRAhGKABMgUQIRigATIFECEYoAEyBRAhGKABMgUQIRirAkjzMlCNDFifMXAGeACQAQOYAWmgAZgIqgEEMTIuMbgBA8gBAPgBAZgCD6ACiwbCAgoQABiwAxjWBBhHwgIFEAAYgATCAgYQABgWGB7CAgcQIRigARgKmAMAiAYBkAYIkgcCMTWgB9My&sclient=gws-wiz-serp
# https://www.interviewquery.com/questions/low-precision

In [ ]:
# Let’s say you’re given a huge 100 GB log file. You want to be able to count how many lines are in the file. 

# How would you count the total number of lines in the file in Python?

In [ ]:
# String Subsequence

In [ ]:
string1 = 'abc'
string2 = 'asbsc'
string3 = 'acedb'

In [ ]:
def is_subsequence(string1,string2):
    return string1.

In [39]:
# Rearranging Digits
def rearranging_digits(n):
    return ''.join(sorted(n, reverse=True))

In [40]:
n = '395'
rearranging_digits(n)

'953'

In [ ]:
## Decreasing subsequence

In [ ]:
Bootstrapping Samples
0:00:00

3
Question
Solution
What does it mean to “bootstrap” a data set?

Give an example of a time when it would be appropriate to bootstrap a smaller sample(s) from a larger data set.

What are the advantages and disadvantages of doing so?

In [ ]:
def is_decreasing(nums):
    """
    Checks if a list of integers is in decreasing order.

    Args:
        nums: A list of integers.

    Returns:
        True if the list is in decreasing order, False otherwise.
    """

    for i in range(1, len(nums)):
        if nums[i] > nums[i - 1]:
            return False
    return True

In [ ]:
# has_same_characters

In [43]:
def has_same_character(strings):
    if not strings:
        return True
    char_set=set(strings[0])
    for string in strings[1:]:
        if string!=char_set:
            return False
        return True
strings = ["abc", "cba", "bca"]
result = has_same_character(strings)
print(result)  # Output: True

False

In [45]:
my_dict = {'a': 1, 'b': 2, 'c': 1}

def remove_duplicate(my_dict):
    return set(values for values in my_dict.values())
remove_duplicate(my_dict)

{1, 2}

In [50]:
# strings = ["flowers", "flow", "flight"] 
# def common_prefix(strings):
#     return strings[0:1]
# common_prefix(strings)

['flowers']

In [ ]:
# Average Quantity

In [ ]:
select avg(quantity),product_id,year
from transactions table
group by product_id,year

In [51]:
def removeDuplicates(arr):
    
    # To track seen elements
    seen = set()
    
    # To maintain the new size of the array
    idx = 0

    for i in range(len(arr)):
        if arr[i] not in seen:
            seen.add(arr[i])
            arr[idx] = arr[i]
            idx += 1

    # Return the size of the array 
    # with unique elements
    return idx

# Driver code
arr = [1, 2, 2, 3, 4, 4, 4, 5, 5]
newSize = removeDuplicates(arr)

for i in range(newSize):
    print(arr[i], end=" ")

1 2 3 4 5

In [57]:
def stopwords_stripped(paragraph, stopwords):
    stopwords = [
    'I', 
    'as', 
    'to', 
    'you', 
    'your', 
    'but', 
    'be', 
    'a',
]
    a=[]
    for ele in paragraph:
        if ele in stopwords:
            break
        else:
            a.append(ele)
    return a
paragraph="Peter is a guy"
stopwords_stripped(paragraph,"a")

['P', 'e', 't', 'e', 'r', ' ', 'i', 's', ' ']

In [ ]:
Write a function to get a sample from a standard normal distribution.

In [ ]:
# easy_paypal_final_account_balance.sql

In [ ]:
SELECT
    account_id,
    SUM(
        CASE
            WHEN transaction_type = 'Deposit' THEN amount
            ELSE -amount
        END
    ) AS final_balance
FROM
    transactions
GROUP BY
    account_id;

In [ ]:
# Uniquely Staffed Consultants

In [ ]:
SELECT d.employee_id,s.made_quota
from deals d  join sales_quotas s 
on d.employee_id=s.employee_id
order by d.employee_id asc

In [ ]:
df=deals.merge(sales_quota,on="employee_id",how="inner")


df[["employee_id","made_quota"]].sort_values(by=["employee_id"],ascending=False)

In [ ]:
df=deals.merge(sales_quota,on="employee_id",how="inner")
df.sort(asc("employee_id")).select(col("employee_id"),col("made_quota")).show()

In [ ]:
A coin was flipped 1000 times, and 550 times it showed heads. Do you think the coin is biased? Why or why not?

In [ ]:
https://datalemur.com/questions/money-transfer-relationships
https://datalemur.com/questions/uniquely-staffed-consultants
https://datalemur.com/questions/surprising-decrease
https://datalemur.com/questions/connection-request-spam

In [ ]:
# https://datalemur.com/questions/arbitrary-distribution

In [ ]:
Two Consecutive Sixes
JPMorgan Probability Interview Question

In [ ]:
https://datalemur.com/questions/satisfaction-bias

In [ ]:
https://datalemur.com/questions/long-calls-growth

In [ ]:
https://datalemur.com/questions/all-six-sides

In [ ]:
https://datalemur.com/questions/independent-and-uncorrelated-rv

In [ ]:
# Total Salary

In [ ]:
select sum(salary) from employees

In [ ]:
df['salary'].sum()

In [ ]:
df.select(col(sum("salary")))

In [ ]:
# Marked Lists

In [11]:
list1 = ["ball","ninja","plan"]
list2 = ["cat","egg","zoo"]

In [14]:
def mark_lists(list1, list2):
    return list(zip(list1,list2))

In [15]:
mark_lists(list1,list2)

[('ball', 'cat'), ('ninja', 'egg'), ('plan', 'zoo')]

In [ ]:
# Integer to Roman

In [ ]:
# Sum of Matrix Elements

In [17]:
import numpy as np
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
np.sum(matrix)

45

In [ ]:
## Business date

In [19]:
import pandas as pd
date1 = '2021-01-31'
date2 = '2021-02-18'
len(pd.bdate_range(date1,date2))

14

In [ ]:
https://www.interviewquery.com/questions/third-unique-song

In [ ]:
## Frequency

In [ ]:
SELECT attribute_name, COUNT(*) AS frequency
FROM table1 
INNER JOIN table2 ON table1.join_key = table2.join_key
INNER JOIN table3 ON table2.join_key2 = table3.join_key2
WHERE table3.attribute_name IS NOT NULL -- Account for NULLs
GROUP BY attribute_name
ORDER BY frequency DESC;

In [ ]:
# Given a users table, write a query to return only its duplicate rows.

In [ ]:
user_table.groupby("id").agg(count).filter(col("*")>1).show()

In [29]:
from collections import Counter
res=[1,3,5,7,1]
a=Counter(res)
de=[]
for key,val in a.items():
    if val>1:
        print("True")
    else:
        print("False")

True
False
False
False

In [28]:
import pandas as pd
user_ids = [103, 105, 105, 107, 106, 103, 102, 108, 107, 103, 102]
tips = [2, 5, 1, 0, 2, 1, 1, 0, 0, 2, 2]
a=list(zip(user_ids,tips))
max(a[1])

105

In [16]:
import pandas as pd

# Create a sample DataFrame
data = {'department': ['A', 'A', 'B', 'B', 'C'],
        'sales': [10, 20, 5, 110, 2]}
df = pd.DataFrame(data)

# Group by department and calculate the sum of sales
grouped = df.groupby('department')['sales'].sum()

# Filter the groups based on the having condition
result = grouped[grouped > 15].idxmax()

print(result)

B

In [27]:
arr = ["b12", "a15", "b7", "a3", "c4", "c20"]
sorted(arr,reverse=False)

['a15', 'a3', 'b12', 'b7', 'c20', 'c4']

In [26]:
from collections import Counter
sentences = [
  "I love roses",
  "Roses are the best",
  "Roses are red violets are blue"
]
sentences=str(sentences)
Counter(sentences.split())

Counter({'are': 3,
         "'Roses": 2,
         "['I": 1,
         'love': 1,
         "roses',": 1,
         'the': 1,
         "best',": 1,
         'red': 1,
         'violets': 1,
         "blue']": 1})

In [25]:
from collections import Counter
posting = """
Herbal sauna uses the healing properties of herbs in combination with distilled water.   
The water evaporates and distributes the effect of the herbs throughout the room.   
A visit to the herbal sauna can cause real miracles, especially for colds. 
"""  
n = 3
Counter(posting.split()).most_common(n)

[('the', 5), ('sauna', 2), ('of', 2)]

In [23]:
arr = [25,30,21,22,14,10,5,26]
def decreasing_values(arr):
    return sorted(arr,reverse=True)
decreasing_values(arr)

[30, 26, 25, 22, 21, 14, 10, 5]

In [20]:
arr= [1, [2, 3], [4, [5, 6]], 7]

In [21]:
def flatten_array(arr):
    a=[]
    for ele in arr:
        if isinstance(ele,list):
            a.extend(flatten_array(ele))
        else:
            a.append(ele)
    return a
flatten_array(arr)

[1, 2, 3, 4, 5, 6, 7]

In [22]:
input =  '12345'
for ele in input.split():
     print(ele[-1])

5

In [ ]:
# Select All Flights

In [ ]:
SELECT * FROM flights

In [ ]:
df

In [ ]:
df.head()

In [ ]:
# Average Ride Duration

In [ ]:
select avg(end_dt-start_dt) aov, id
from rides table
group by id
order by passenger_user_id asc;

In [ ]:
df

In [ ]:
# Max Quantity

In [ ]:
select max(quantity),year,product_id from transactions
group by product_id,year
order by year,product_id desc;

In [ ]:
transactions.groupby('product','year').agg(max(count("quantity")).alias("max_quantity")).sort(desc("year")).select(col("year"),col("product_id"),col("max_quantity").show()

In [ ]:
client_id	ranking	value
1001	1	1000
1001	2	NaN
1001	3	1200
1002	1	1500
1002	2	1250
1002	3	NaN
1003	1	1100
1003	2	NaN

In [ ]:
import pandas as pd

def previous_nan_values(clients_df):
    return clients_df[clients_df.bfill(clients_df['value'])]

In [ ]:
## PYSPARK

In [ ]:
# Previous NaN Values

In [ ]:
# Compute Variance

In [30]:
import statistics as st
import numpy as np
def get_variance(test_list):
    return round(np.var(test_list),2)
test_list = [6, 7, 3, 9, 10, 15]
get_variance(test_list)

13.89