In [ ]:
# User Activity for the Past 30 Days I.sql

In [ ]:
SELECT activity_date AS day, COUNT(DISTINCT user_id) AS active_users 
FROM Activity
WHERE DATEDIFF("2019-07-27", activity_date) < 30 
GROUP BY activity_date

In [ ]:
#  Sales Analysis III Write a solution to report the products 
# that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

In [ ]:
select product
from Products p join sales s
on p.product_id=s.product_id
where p.sale_date between 2019-01-01 and 2019-03-31

In [ ]:
df=pd.merge(Product,sales,on="product_id",how="inner")
df.loc[()]

In [ ]:
# latest loigin in 2020

In [ ]:
SELECT user_id,
       MAX(time_stamp) AS last_stamp
FROM Logins
WHERE YEAR(time_stamp) = 2020
GROUP BY user_id
ORDER BY NULL;

In [ ]:
logins.filter(col(time_stamp)==2020).groupby

In [ ]:
# Odd and Even Transactions

In [ ]:
SELECT
    transaction_date,
    SUM(IF(amount % 2 = 1, amount, 0)) AS odd_sum,
    SUM(IF(amount % 2 = 0, amount, 0)) AS even_sum
FROM transactions
GROUP BY 1
ORDER BY 1;

In [ ]:
# leetcode/SQL/1148. Article Views I.sql

In [ ]:
select author_id as id
from Views
where author_id = viewer_id
group by author_id
order by author_id asc

In [ ]:
# Actors and Directors Who Cooperated At Least Three Times.sql

In [ ]:
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3

In [ ]:
ActorDirector.groupby("actor_id","director_id").agg(count(col("*")>3).alias("counts")).filter(col("counts")>=3).select(col("actor_id"),col("director_id"))

In [ ]:
ActorDirector.groupby("actor_id","director_id").count

In [ ]:
# LeetCode/Customer Placing the Largest Number of Orders.sql

In [ ]:
SELECT customer_number 
FROM orders
GROUP BY customer_number
ORDER BY COUNT(customer_number) DESC 
LIMIT 1;

In [ ]:
orders.groupby("customer_number").agg(count(col("customer_number")).alias("customer_number")).sort(desc("customer_number")).select(col("customer_number")).limit(1).show()

In [ ]:
orders.groupby("customer_number")["customer_number"].count().sort_values(ascending=False).head(1)

In [ ]:
# Count Artist Occurrences On Spotify Ranking List

In [ ]:
SELECT
    artist,
    COUNT(1) AS occurrences
FROM Spotify
GROUP BY artist
ORDER BY occurrences DESC, artist;

In [ ]:
spotify.groupby("artist")["occurences"].sort_values()

In [ ]:
spotify.groupby("artist").agg(count(col("*")).alias("occurences")).sort(desc("occurences"),desc("artist"))

In [ ]:
#  Classes More Than 5 Students.sql

In [ ]:
select `class` from `courses` group by `class` having count(distinct `student`) >= 5

In [ ]:
grouped=courses.groupby('class').size()
result=grouped.filter(lambda x:x>2)

In [ ]:
courses.groupby('class').agg(count)

In [ ]:
# friendly-movies-streamed-last-month.sql

In [ ]:
SELECT DISTINCT title
FROM content ctt
INNER JOIN TVProgram tv
ON ctt.content_id = tv.content_id
WHERE content_type = 'Movies'
AND Kids_content = 'Y'
AND program_date BETWEEN '2020-06-01' AND '2020-06-30';

In [ ]:
# Actors and Directors Who Cooperated At Least Three Times.sql

In [ ]:
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3

In [ ]:
grouped=ActorDirector.groupby(['actor_id','director_id']).size()
result=grouped.apply(lambda x:x>=3)

In [ ]:
ActorDirector.groupby('Actor_id','director_id').agg(count("*").alias("new_count")).filter(col("new_count")>=3).select

In [ ]:
# replace-employee-id-with-the-unique-identifier.sql

In [ ]:
SELECT unique_id, name
FROM Employees
LEFT JOIN  EmployeeUNI
USING (id);

In [ ]:
employee.join("employees",how="left",on="id")

In [ ]:
employee.left

In [ ]:
#  Employees Earning More Than Their Managers

In [ ]:
select  e1.name
from employee e1
join employee e2
on e1.id=e2.id and e1.salary>e2.salary

In [ ]:
employee.merge(employee,on="id")

In [ ]:
# Big Countries.sql

In [ ]:
SELECT
    name, population, area
FROM
    world
WHERE
    area > 3000000 OR population > 25000000

In [ ]:
world.filter((col("area")>33000000) | (col("population")> 25000000)).select(col("name"),col("population"),col("area"))

In [ ]:
world[(world["aread"]>> 33000000)| (world["population"]>> 25000000)]

In [ ]:
## Department highest salary

In [ ]:
WITH ranking AS (
    SELECT
        d.name ,
        e.name ,
        e.salary ,
        DENSE_RANK() OVER (PARTITION BY e.departmentId ORDER BY e.salary DESC) [drank]
    FROM
        Employee e JOIN Department d ON e.departmentId = d.id
)
SELECT
    Department,
    Employee,
    Salary
FROM ranking
WHERE drank = 1

In [ ]:
# Friday Purchases I ðŸ”’

In [ ]:
SELECT
    CEIL(DAYOFMONTH(purchase_date) / 7) AS week_of_month,
    purchase_date,
    SUM(amount_spend) AS total_amount
FROM Purchases
WHERE DATE_FORMAT(purchase_date, '%Y%m') = '202311' AND DAYOFWEEK(purchase_date) = 6
GROUP BY 2
ORDER BY 1;

In [ ]:
# Second Day Verification ðŸ”’

In [ ]:
SELECT user_id
FROM
    Emails AS e
    JOIN texts AS t
        ON e.email_id = t.email_id
        AND DATEDIFF(action_date, signup_date) = 1
        AND signup_action = 'Verified'
ORDER BY 1;

In [ ]:
# -Accepted-Candidates-From-the-Interviews/

In [ ]:
SELECT candidate_id
FROM
    Candidates AS c
    LEFT JOIN Rounds AS r ON c.interview_id = r.interview_id
WHERE years_of_exp >= 2
GROUP BY c.interview_id
HAVING sum(score) > 15;

In [ ]:
df=Candidates.join(rounds,how="left",on="interview_id")
df_1=df[df["year_of_exp"]>=2]
df_1.groupby("interview_id")["score"].filter(lambda score:sum(score)>15)

In [ ]:
#  Employee Bonus

In [ ]:
# Combine Two Tables

In [ ]:
# Second Highest Salary

In [ ]:
select * from(select rank() over(order by sal desc) r from employee) where r>=2

In [ ]:
# Delete Duplicate Emails

In [ ]:
#  Department Top Three Salaries

In [ ]:
# Department Highest Salary

In [ ]:
# Customers Who Never Order

In [ ]:
select id 
from orders where id not in(select id from orders)

In [ ]:
Orders.join(orders)

In [ ]:
# Top Travellers.sql

In [ ]:
select u.name, ifnull(sum(r.distance), 0) as travelled_distance
from users u
left join rides r
on u.id = r.user_id
group by r.user_id
order by travelled_distance desc, u.name asc

In [ ]:
# Nth Highest Salary

In [ ]:
# Rank Scores

In [ ]:
# Consecutive Numbers

In [ ]:
# Duplicate Emails

In [ ]:
SELECT email
FROM Person
GROUP BY email
HAVING COUNT(email) > 1;

In [ ]:
Person.groupby("email").agg(count(col("*")).alias("total_count")).filter("count">1).select(col("email"))

In [ ]:
Person.groupby("email").count

In [ ]:
# Customers Who Bought All Products

In [ ]:
#  Biggest Single Number

In [ ]:
#  Students Report By Geography

In [ ]:
# Average Salary: Departments VS Company

In [ ]:
# Find Median Given Frequency of Numbers

In [ ]:
# Managers with at Least 5 Direct Reportsa.

In [ ]:
# delete-duplicate-emails.sql

In [ ]:
DELETE p1
FROM Person p1, Person p2
WHERE p1.Email = p2.Email AND p1.Id > p2.Id

In [ ]:
## Person with valid emails

In [ ]:
SELECT *
FROM Users
WHERE REGEXP_LIKE(mail, '^[a-zA-Z][a-zA-Z0-9\_\.\-]*@leetcode.com')

In [ ]:
# Find-Expensive-Cities/

In [ ]:
# Write your MySQL query statement below
SELECT city
FROM Listings
GROUP BY city
HAVING AVG(price) > (SELECT AVG(price) FROM Listings)
ORDER BY 1;

In [ ]:
## Patients with a condition

In [ ]:
SELECT * FROM Patients
WHERE conditions like '% DIAB1%' OR conditions like'DIAB1%'

In [ ]:
Patients[Patients['condition'].str.contains('DIAB1')]

In [ ]:
Patients.filter(col("conditions").contains("DIAB1")).select(col("*")).show()

In [ ]:
## Histogram

In [ ]:
SELECT '[0-5>' AS bin, COUNT(1) AS total FROM Sessions WHERE duration < 300
UNION
SELECT '[5-10>' AS bin, COUNT(1) AS total FROM Sessions WHERE 300 <= duration AND duration < 600
UNION
SELECT '[10-15>' AS bin, COUNT(1) AS total FROM Sessions WHERE 600 <= duration AND duration < 900
UNION
SELECT '15 or more' AS bin, COUNT(1) AS total FROM Sessions WHERE 900 <= duration;

In [ ]:
# Customer Placing the Largest Number of Orders.sql
# Latest

In [ ]:
select customer_number
from orders
group by customer_number
order by count(*) desc
limit 1

In [ ]:
orders.groupby("customer").sort_values()

In [ ]:
orders.groupby("number").agg(count(col("*")).alias("counts")).sort(desc("counts")).select(col("customer_number")).show()

In [ ]:
# Swap Salary.md

In [ ]:
UPDATE salary
SET
    sex = CASE sex
        WHEN 'm' THEN 'f'
        ELSE 'm'
    END;

In [ ]:
# product-price-at-a-given-date

In [ ]:
# Product Sales Analysis I
# Latest

In [ ]:
SELECT p.product_name, s.year, s.price
FROM Sales s LEFT JOIN Product p ON
    s.product_id = p.product_id

In [ ]:
Sales.join(product,on="product_id",how="left")

In [ ]:
Sales.join(product,on="product_id",how="left")

In [ ]:
# MySQL/the-latest-login-in-2020.sql

In [ ]:
SELECT user_id,
       MAX(time_stamp) AS last_stamp
FROM Logins
WHERE YEAR(time_stamp) = 2020
GROUP BY user_id
ORDER BY NULL;

In [ ]:
login.groupby('user_id').agg(max(col("timestamp")).alias("max_time_stamp")).filter(col("year")==2002).select(col("user_id"),col("max_time_stamp"))

In [ ]:
# convert-date-format.sql

In [ ]:
SELECT DATE_FORMAT(day, "%W, %M %e, %Y") AS day
FROM Days;

In [ ]:
days['Month']=days['day'].dt.Month
days['Year']=days['day'].dt.Year
days['week']=days['day'].dt.Week

In [ ]:
#  First and Last Call On the Same Day

In [ ]:
# Count the Number of Experiments

In [ ]:
# Actors and Directors Who Cooperated At Least Three Times sql

In [ ]:
SELECT actor_id, director_id

FROM ActorDirector

GROUP BY actor_id, director_id

HAVING COUNT(*) >= 3;

In [ ]:
ActorDirector.groupby(["actor_id","director_id"]).count

In [ ]:
ActorDirector.groupby("actor_id","director_id").agg(col(count("*")).alias("total_count")).filter("total_count">3)

In [ ]:
# Find Users With Valid E-Mails

In [ ]:
# Product Sales Analysis I

In [ ]:
SELECT p.product_name, s.year, s.price
FROM Sales s LEFT JOIN Product p ON
    s.product_id = p.product_id

In [ ]:
Sales.joi

In [ ]:
Sales.join(products,on="product_id",how="inner").select(col())

In [ ]:
## Not a boring movie

In [ ]:
select id,movie,description,rating from Cinema where id%2!=0 and description!='boring' order by rating desc;

In [ ]:
Cinema[(Cinema['id']%2!=0)  & (Cinema['description']=='boring')].sort_values(by=['rating'],ascending=False)

In [ ]:
Cinema.filter(col)

In [ ]:
## Total quantity sold for each product sold

In [ ]:
SELECT product_id, SUM(quantity) AS total_quantity
FROM Sales
GROUP BY 1;

In [ ]:
Sales.groupby('product_id').agg(sum(col("quantity")).alias("total_quantity")).select(col("product_id"),col("total_quantity")).show()

In [ ]:
Sales.groupby('product_id')["quantity"].sum().

In [ ]:
# Active Businesses leetcode sql

In [ ]:
# .Product Sales Analysis II

In [ ]:
SELECT product_id, SUM(quantity) AS total_quantity
FROM Sales
GROUP BY 1;

In [ ]:
sales.groupby('product_id').agg(sum(col("quantity")).alias("quantity")).select(col("product_id"),col("quantity")).show()

In [ ]:
sales.groupby('product_id')["quantity"].sum()

In [ ]:
# Employees Whose Managers Left the Company

In [ ]:
SELECT e.employee_id, e.first_name, e.last_name
FROM employees e
LEFT JOIN managers m ON e.manager_id = m.manager_id
WHERE m.termination_date IS NOT NULL;

In [ ]:
# MySQL/count-the-number-of-experiments.sql

In [ ]:
# Find-All-Unique-Email-Domains

In [ ]:
SELECT SUBSTRING_INDEX(email, '@', -1) AS email_domain, COUNT(1) AS count
FROM Emails
WHERE email LIKE '%.com'
GROUP BY 1
ORDER BY 1;

In [ ]:
def find_unique_email_domains(emails: pd.DataFrame) -> pd.DataFrame:
    emails["email_domain"] = emails["email"].str.split("@").str[-1]
    emails = emails[emails["email"].str.contains(".com")]
    return (
        emails.groupby("email_domain")
        .size()
        .reset_index(name="count")
        .sort_values(by="email_domain")
    )

In [ ]:
# -Students-With-Invalid-Departments/

In [ ]:
SELECT id, name
FROM Students
WHERE department_id NOT IN (SELECT id FROM Departments);

In [ ]:
students.merge(departments,on="id",how="inner")

In [ ]:
students.le

In [ ]:
# -Find-Expensive-Cities/

In [ ]:
SELECT city
FROM Listings
GROUP BY city
HAVING AVG(price) > (SELECT AVG(price) FROM Listings)
ORDER BY 1;

In [ ]:
# Article Views II.txt

In [ ]:
select distinct viewer_id as id
from views
group by viewer_id, view_date
having count(distinct article_id) > 1
order by id

In [ ]:
Views.groupby("viewer_id","view_date").filter(count(col("article_id"))>1).sort(asc("id"))

In [ ]:
Views.groupby(["viewer_id","view_date"])["article_id"].size().transform

In [ ]:
# not boring movies.sql

In [ ]:
select id,movie,description,rating from Cinema where id%2!=0 and description!='boring' order by rating desc;

In [ ]:
Cinema.where((col('id')%2==0)&(col("description")=="boring").sort(desc("rating")).select(col("id"),col("description"),col("rating"))

In [ ]:
Cinema[(Cinema["id"]%2==0) & (Cinema["description"]=='boring')].sort_values(by=["rating"],ascending=False)

In [ ]:
# Find Candidates for Data Scientist Position

In [ ]:
SELECT candidate_id
FROM Candidates
WHERE skill IN ('Python', 'Tableau', 'PostgreSQL')
GROUP BY 1
HAVING COUNT(1) = 3
ORDER BY 1;

In [ ]:
Candidate..groupby("candidate_id").agg(count(col("candidate_id")==3).where(col("skill").isin("Python","Tableau","PostgresSQL"))

In [ ]:
# Running Total for Different Genders

In [ ]:
SELECT
    gender,
    day,
    SUM(score_points) OVER (
        PARTITION BY gender
        ORDER BY gender, day
    ) AS total
FROM Scores;

In [ ]:
# Project Employees I.sql

In [ ]:
select project_id , round(avg(experience_years), 2) as average_years
from project as p
left join employee as e
on p.employee_id = e.employee_id
group by project_id

In [ ]:
project.join(employee,on="employee_id",how="left").groupby("project_id").agg(avg("experience_years").alias("average_year")).select(round(col("average_years")))

In [ ]:
# Unpopular book

In [ ]:
SELECT b.book_id, 
       b.NAME 
FROM   books AS b 
       LEFT JOIN orders AS o 
              ON b.book_id = o.book_id 
                 AND dispatch_date BETWEEN '2018-06-23' AND '2019-6-23' 
WHERE  Datediff('2019-06-23', b.available_from) > 30 
GROUP BY book_id 
HAVING Sum(IFNULL(o.quantity, 0)) < 10 ORDER  BY NULL

In [ ]:
# list-the-products-ordered-in-a-period

In [ ]:
select p.product_name, unit
from products p
join (
  select product_id, order_date, sum(unit) unit
  from orders 
  where DATE_FORMAT(order_date, '%Y-%m') = '2020-02' 
  group by product_id
) as o
on p.product_id = o.product_id
where unit >= 100
group by p.product_name

In [ ]:
# Students-With-Invalid-Departments

In [ ]:
SELECT id, name
FROM Students
WHERE department_id NOT IN (SELECT id FROM Departments);

In [ ]:
# Median Employee Salary

In [ ]:
# Game Play Analysis III

In [ ]:
SELECT
    t1.player_id,
    t1.event_date,
    SUM(t2.games_played) AS games_played_so_far
FROM
    Activity AS t1,
    Activity AS t2
WHERE t1.player_id = t2.player_id AND t1.event_date >= t2.event_date
GROUP BY 1, 2;

In [ ]:
# Running Total for Different Genders

In [ ]:
SELECT
    gender,
    day,
    SUM(score_points) OVER (
        PARTITION BY gender
        ORDER BY gender, day
    ) AS total
FROM Scores;

In [ ]:
# Trips and Users

In [ ]:
# 197. Rising Temperature

In [ ]:
select w1.id
from Weather w1, Weather w2
where w1.Temperature > w2.Temperature
and datediff(w1.recordDate, w2.recordDate) = 1
;

In [ ]:
# Bikes Last Time Used

In [ ]:
SELECT
    bike_number,
    MAX(end_time) AS end_time
FROM Bikes
GROUP BY bike_number
ORDER BY end_time DESC;

In [ ]:
Bikes.groupby("bike_number").agg(max(col("end_time")).alias("end_time")).select(col("bike_number"),col("end_time")).show()

In [ ]:
bikes.groupby("bike_nymber")["end_time"].max().reset_index().rename({'end_time':'end_time'})

In [ ]:
# MySQL/highest-salaries-difference.sql

In [ ]:
SELECT ABS(
    (
        SELECT MAX(salary)
        FROM Salaries
        WHERE DEPARTMENT = "Marketing"
    )
    - 
    (
        SELECT MAX(salary)
        FROM Salaries
        WHERE DEPARTMENT = "Engineering"
    )
) AS salary_difference;

In [ ]:
# MySQL/product-sales-analysis-v.sql

In [ ]:
SELECT s.user_id,
       SUM(s.quantity * p.price) AS spending
FROM Sales s INNER JOIN Product p ON s.product_id = p.product_id
GROUP BY s.user_id
ORDER BY spending DESC, s.user_id ASC;

In [ ]:
## sort the olympic table

In [ ]:
SELECT *
FROM Olympic
ORDER BY 2 DESC, 3 DESC, 4 DESC, 1;

In [ ]:
olympic.sort(desc())

In [ ]:
# low-quality-problems.sql

In [ ]:
SELECT problem_id
FROM Problems
WHERE likes / (likes + dislikes) < 0.6
ORDER BY 1;

In [ ]:
df["likes"]=df["likes"]+df["dislikes"]

In [ ]:
# count-student-number-in-departments

In [ ]:
SELECT
    d.dept_id,
    d.dept_name,
    COUNT(s.student_id) AS student_number
FROM Department d
LEFT JOIN Student s
    ON s.dept_id = d.dept_id
GROUP BY
    d.dept_id,
    d.dept_name;

In [ ]:
df=department.join(student,on="dept_id",how="left")
df.groupby(["dept_id","dept_name"])["student_id"].size().reset_index()

In [ ]:
department.join("student",on="dept_id",how="left").groupby(["dept_id","dept_name"]).agg(count(col("student_id"))).select(col("dept_id"),col("dept_name")).show()

In [ ]:
# The-Number-of-Rich-Customers

In [ ]:
SELECT
    COUNT(DISTINCT(customer_id)) AS rich_count
FROM
    Store
WHERE
    amount > 500;

In [ ]:
# MySQL/number-of-unique-subjects-taught-by-each-teacher.sql

In [ ]:
SELECT teacher_id, COUNT(DISTINCT subject_id) AS cnt
FROM Teacher
GROUP BY teacher_id
ORDER BY NULL;

In [ ]:
#  Project Employees I.sql

In [ ]:
select project_id , round(avg(experience_years), 2) as average_years
from project as p
left join employee as e
on p.employee_id = e.employee_id
group by project_id

In [ ]:
df1=project.join(employee,on="employee_id",how="left")
df1.groupby("project_id")["experience_year"].avg().round().reset_index().rename(columns={'A': 'new_column_name'})

In [ ]:
project.join(employee,on="employee_id",how="left").groupby("project_id").agg(avg(col("experience_year")).alias("average_year")).select(col("project_id"),col("average_year")).show()

In [ ]:
# /3198.Find Cities in Each State

In [ ]:
SELECT
    state,
    GROUP_CONCAT(city ORDER BY city SEPARATOR ', ') cities
FROM cities
GROUP BY 1
ORDER BY 1

In [ ]:
import pandas as pd


def find_cities(cities: pd.DataFrame) -> pd.DataFrame:
    result = (
        cities.groupby("state")["city"]
        .apply(lambda x: ", ".join(sorted(x)))
        .reset_index()
    )
    result.columns = ["state", "cities"]
    return result

In [ ]:
# Replace Employee ID With The Unique Identifier

In [ ]:
SELECT EmployeeUNI.unique_id, Employees.name
FROM Employees
LEFT JOIN EmployeeUNI ON Employees.id = EmployeeUNI.id;

In [ ]:
Employee.join(employeeUni,on="id",how="left")

In [ ]:
Employee.join(employeeUni,on="id",how="left")

In [ ]:
# Order and Deliver/# 1484. Group Sold Products By The Date.sql

In [ ]:
select sell_date, count(distinct product) as num_sold, 
group_concat(distinct product order by product ASC separator ',') as products from Activities 
group by sell_date

In [ ]:
# MySQL/calculate-the-influence-of-each-salesperson.sql

In [ ]:
SELECT sp.salesperson_id, sp.name, SUM(IFNULL(price, 0)) AS total
FROM Salesperson sp
LEFT JOIN Customer c ON sp.salesperson_id = c.salesperson_id
LEFT JOIN Sales s ON c.customer_id = s.customer_id
GROUP BY sp.salesperson_id, sp.name
ORDER BY NULL;